<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

	<targets>
		<!-- 콘솔에 로그 출력 -->
		<target xsi:type="Console" name="console" />

		<!-- 파일에 로그 출력 -->
		<target xsi:type="File" name="file" fileName="${basedir}\\logs\\${date:format=yyyy-MM-dd}\\SW_Log_${shortdate}.txt" layout="${longdate} ${uppercase:${level}} ${message}" />
	</targets>

	<rules>
		<!-- 모든 로그 레벨을 콘솔과 파일에 출력 -->
		<logger name="*" minlevel="Trace" writeTo="console, file" />
	</rules>
</nlog>